<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/static/css/landing.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&family=Permanent+Marker&display=swap" rel="stylesheet">
    <title>Welcome!</title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <a class="navbar-brand" href="#">
        <img src="/static/img/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
        THE BUSINESS PROJECT
    </a>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">LOG IN</a>
            </li>
        </ul>
    </div>

</nav>


<div id="outer" class="container">
  <div id="inner">
    <h1>The Road to Success</h1>
    <h4>Empowering professionals one connection at a time.</h4>
    <div class="btn btn-dark">Create an Account</div>
    <p id="company-name">JP Morgan Chase & Co</p>
    <p id="tagline">Women on the Move</p>
  </div>
</div>


</body>
</html>