<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/static/css/network.css" rel="stylesheet">
</head>
<body>

<!-- People -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Meet your future mentor or mentee!</h2>
      <h4 class="mb-5">Click on a person to view their profile and connect.</h4>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/static/img/person1.jpeg" alt="">
            <h5>Margaret Embers</h5>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/static/img/person2.jpeg" alt="">
            <h5>Sam Gilbert</h5>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/static/img/person3.jpeg" alt="">
            <h5>Sarah Winters</h5>
          </div>
        </div>
         <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/static/img/person4.jpeg" alt="">
            <h5>Amelia Brown</h5>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/static/img/person5.jpeg" alt="">
            <h5>Mary R.</h5>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/static/img/person6.jpeg" alt="">
            <h5>Stacy T.</h5>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
</html>